
.skills-wrapper {
    display: grid;
    gap: 3vw;
}

.skills ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    font-size: 2vh;
}
input[type=checkbox] {
  color: red;
  margin-right: 1vw;
  transform: scale(2);
  pointer-events: none;
}
